.name{
    text-align: center;
    font-style: italic;
    color: blueviolet;
}
.KEYA{
    background-color: blueviolet;
    font-size: 20px;
    font-style: italic;
}
.TASNIA{
        background-color: blueviolet;
        font-size: 20px;
        font-style: italic;
MITU{
    background-color: blueviolet;
    font-size: 20px;
    font-style: italic;
  RITU{
    background-color: blueviolet;
    font-size: 20PX;
    font-style: italic;
TANJILA{
    background-color: blueviolet;
    font-size: 20px;
    font-style: italic;
}
    
  


